
body {
    background-color: blue;
    background-image: url("https://wallpapertag.com/wallpaper/full/6/6/7/743015-journey-band-wallpaper-1920x1080-for-htc.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

h1 {
    font-size: 5em;
    padding: 5px;
}

h2 {
    font-size: 2.5em;
    padding: 5px;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding:20px;
}

#verse-1 {
    padding: 20px;
    font-size: 24px;
    line-height: 2em;
}

#verse-2 {
    padding:20px;
    font-size: 24px;
    line-height: 2em;
}

.submit {
    width: 100px;
    margin: 20px;   
    
}



.input-boxes {
    margin-top: 10px;
}

input {
    padding: 8px;
    margin: 8px;
}
