
body {
    
    background-image: url("https://wallpapertag.com/wallpaper/full/6/6/7/743015-journey-band-wallpaper-1920x1080-for-htc.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    
}

main {
    display: flex;
    flex-direction: row;
    height: 80%;
    
}

h1 {
    font-size: 3.5em;
    padding: 5px;
    font-family: 'Rock Salt', cursive;
    color: blue;
   

}

h2 {
    font-size: 2.5em;
    padding: 5px;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding:20px;
}



.submit {
    width: 100px;
    margin: 20px;   
    
}



.input-boxes {
    margin: 10px;
    background-color: blue;
    width: 250px;

}

.song {
    line-height: 1.5em;
    font-size: 1.5em;
    width: 400px;
    height: 480px;
    margin-top: 30px;
    background: blue;
    margin-left: 400px;
    visibility: hidden;
    
}

input {
    padding: 8px;
    margin: 8px;
    
}

.submit {
    background: blue;
    border: 2px solid white;
    color: white;
    padding: 10px;
}
