
body {
    background-color: blue;
}

h1 {
    font-size: 5em;
    padding: 5px;
}

h2 {
    font-size: 2.5em;
    padding: 5px;
}

section {
    display: flex;
    flex-direction: column;
    padding:20px;
}

#verse-1 {
    padding: 20px;
    font-size: 24px;
    line-height: 2em;
}

#verse-2 {
    padding:20px;
    font-size: 24px;
    line-height: 2em;
}



